<div class="content">
    <h1>Отправить сообщение</h1>
    <form action="" method="post">
        <fieldset>
            <p>
                <label class="title" for="theme">Тема сообщения:</label>
                <input type="text" name="theme" id="theme"><br/>
                <label class="title" for="text">Текст сообщения</label>
                <input type="text" name="text" id="text">
                <label class="title" for="email">Ваш email:</label>
                <input type="text" name="email" id="email">
            </p>

        </fieldset>
        <div class="submit"><input type="submit" value="Отправить сообщение"/>
        </div>
    </form>
</div>